.container {
  display: flex;
  justify-content: space-around;
}

.profile {
  height: 100px;
  padding-bottom: 20px;
}

h1 {
  text-align: center;
  font-family: 'Fjalla One', sans-serif;
}

.showClient {
  p {
    font-size: 20px;
    padding: 20px;
    color: white;
    font-family: 'Fjalla One', sans-serif;
    background-color: #f37534;
    border-radius: 5px;
    letter-spacing: 0.25rem;
  }
}

body {
  background-color: #2e242c;
}

.navbar {
  background-color: #f37534;
  border-radius: 5px;
}

.navbar-brand {
  color: white;
}

.btn-lg {
  background-color: #23c6f8;
}

.span {
  color: black;
  padding: 0.5rem;
}
